:root{
    --background-color:rgb(245, 245, 245);
    --text-color:rgb(10,10,10);
    --accent-color:rgb(80, 80, 239);
    --accent-color2:rgba(80,80,239,0.4);
    --search-color:rgb(245,245,245);
}
/*rgb(80,80,239)*/
*{
    margin: 0;
    padding: 0;
}
nav {
    background-color: var(--accent-color);
    padding: 3vh;
    text-align: center;
}
nav a{
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
    color: var(--background-color);
    font-size: 1.3rem;
}
body{
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
h1{
    padding-top: 2.5rem;
    font-size: 3rem;
    text-align: center;
}
p{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
}
.btn{
    padding: 0.4rem 0.8rem;
    background-color: var(--accent-color);
    color: var(--background-color);
    font-size: 1rem;
    border: 2px solid var(--text-color);
    border-radius: 6px;
    transition: background-color 0.5s;
}
.btn:hover{
    background-color: var(--accent-color2);
}

footer{
    background-color: var(--accent-color2);
    bottom: 0px;
    width: 100%;
    height: 11vh;
}
footer p{
    text-align: center;
    font-size: 1rem;
    padding-top: 0.7rem;
    margin: 0;
}

/* ------------Styling för firstpage och hemsida----------*/
.welcome-container{
    display: flex;
    height: 80vh;
    text-align: center;
}
.welcome-div {
    text-align: left;
    margin-top: 15%;
    margin-left: 10%;
    display: inline-block;
    width: 30%;
}
.welcome-p {
    font-size: 2rem;
}
.welcome-h1 {
    font-size: 4.5rem;
    margin-top: 0;
    padding-top: 1rem;
}
.welcome-img {
    display: inline-block;
    margin-top: 8%;
    margin-left: 2rem;
    width: 50%;
}
.welcome-img img {
    width: 100%;
    height: auto;
}

/* -------------------Anställda styling--------------*/
.employee-article {
    text-align: center;
    height: fit-content;
}
.employee-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.employee-search{
    margin-top: 0.8rem;
}
.employee-search input{
    font-size: 1rem;
    padding: 0.4rem;
    border: 2px solid var(--text-color);
    border-radius: 6px;
    background-color: var(--search-color);
}
table{
    border-collapse: collapse;
}
th,td {
    border: 1px solid var(--text-color);
    padding: 5px;
}
.nav-pagination {
    margin:10px 0 30px 0;
    background-color: var(--background-color);
}
.pagination {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    margin: 0;
}
.page-link {
    padding: 0.4rem 0.8rem;
    margin: 0 5px;
    border: 2px solid var(--text-color);
    color: var(--background-color);
    font-size: 1.2rem;
    background-color: var(--accent-color);
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.5s;
}
.page-link:hover {
    background-color: var(--accent-color2);
}
.active-page{
    font-size: 1.6rem;
}
.page-of {
    font-size: 1rem;
}
a{
    text-decoration:none;
    color: var(--accent-color);
}

/* -------------------Personkort styling--------------*/
.person-article{
    height: 80vh;
}
.person-div{
    padding-top: 3rem;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}
.person-img{
    height: 30%;
    width: 30%;
    border-radius: 6px;
}
ul {
    font-size: 1.2rem;
    margin-left: 10%;
    list-style: none;
}
ul li {
    line-height: 1.7rem;
}
ul li span {
    font-weight: 600;
}
.person-form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.person-form-div label {
    font-size: 1rem;
}
.person-form-div input {
    font-size: 1rem;
    padding: 0.4rem;
    border: 2px solid var(--text-color);
    border-radius: 6px;
    background-color: var(--search-color);
}
.person-p {
    margin-top: 3rem;
}

/* -------------------Logout styling--------------*/
.logout-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logout-div a{
    margin-top: 1rem;
}
.logout-article {
    height: 89vh;
}
/* -------------------Login styling--------------*/
.login-article{
    height: 89vh;
}
.login-div {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.login-div form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-div label {
    margin-bottom: 0.8rem;
    padding-right: 1rem;
}
.login-div input {
    padding: 0.4rem;
    margin-bottom: 20px;
    width: 250px;
    border: 2px solid var(--text-color);
    border-radius: 6px;
    background-color: var(--search-color);
}
.password-div{
    padding-right: 1.5rem;
}
.login-btn{
    background-color: var(--accent-color);
    color: var(--text-color);
    margin-left: 1.8rem;
}

/* -------------------Kontakt styling--------------*/
.contact-article{
    height: 80vh;
}
.contact-article span{
    font-weight: 600;
}
.contact-div {
    padding-top: 1rem;
}
.follow-div{
    padding-top: 3rem;
}
.social-media-icon{
    padding-top: 1rem;
    text-align: center;
}
.contact-a{
    padding: 1rem;
    font-size: 3rem;
    color: var(--accent-color);
    transition: color 0.5s;
}
.contact-a:hover{
    color:var(--accent-color2);
}

/* -------------------Firstpage styling--------------*/
.first-login{
    position: absolute;
    right: 4rem;
    top: 2rem;
    font-size: 2rem;
}