*{
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgb(80, 80, 239);
    padding: 20px;
    text-align: center;
}
nav a{
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    font-size: 1.3rem;
}
body{
    font-family: sans-serif;
}
h1{
    margin-top: 1.5rem;
    font-size: 3rem;
    text-align: center;
}
p{
    margin-top: 0.8rem;
    font-size: 1.5rem;
    text-align: center;
}
footer{
    position: absolute;
    bottom: 10px;
    height: 10vh;
    width: 100%;
}
footer p{
    text-align: center;

}

/* ------------Styling för firstpage och hemsida----------*/
.welcome-container{
    display: flex;
}
.welcome-div {
    text-align: left;
    margin-top: 15%;
    margin-left: 10%;
    display: inline-block;
}
.welcome-p {
    font-size: 2rem;
}
.welcome-h1 {
    font-size: 3.5rem;
    margin-top: 0.8rem;
}
.welcome-img {
    display: inline-block;
    width: 30%;
    height: 30%;
    margin-top: 10%;
    margin-left: 3rem;
}

/* -------------------Anställda styling--------------*/
.employee-article {
    text-align: center;
}
.employee-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
table{
    border-collapse: collapse;
}
th,td {
    border: 1px solid black;
    padding: 5px;
}

/* -------------------Personkort styling--------------*/
.person-div{
    margin-top: 5rem;
    margin-left: 10%;
    display: flex;
}
.person-img{
    height: 20%;
    width: 20%;
    border-radius: 6px;
}
ul {
    font-size: 1.2rem;
    margin-left: 10%;
    list-style: none;
}
ul li {
    line-height: 1.7rem;
}
ul li span {
    font-weight: 600;
}

.person-form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}