*{
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgb(80, 80, 239);
    padding: 3vh;
    text-align: center;
}
nav a{
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    font-size: 1.3rem;
}
body{
    font-family: sans-serif;
}
h1{
    padding-top: 2.5rem;
    font-size: 3rem;
    text-align: center;
}
p{
    margin-top: 0.8rem;
    font-size: 1.5rem;
    text-align: center;
}
footer{
    background-color: rgba(80, 80, 239,0.3);
    bottom: 0px;
    width: 100%;
    height: 8vh;
}
footer p{
    text-align: center;

}

/* ------------Styling för firstpage och hemsida----------*/
.welcome-container{
    display: flex;
    height: 81vh;
}
.welcome-div {
    text-align: left;
    margin-top: 15%;
    margin-left: 10%;
    display: inline-block;
}
.welcome-p {
    font-size: 2rem;
}
.welcome-h1 {
    font-size: 3.5rem;
    margin-top: 0.8rem;
}
.welcome-img {
    display: inline-block;
    width: 30%;
    height: 30%;
    margin-top: 10%;
    margin-left: 3rem;
}

/* -------------------Anställda styling--------------*/
.employee-article {
    text-align: center;
    height: fit-content;
}
.employee-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.employee-search{
    margin-top: 0.8rem;
}
.employee-search input{
    font-size: 1rem;
    padding: 0.4rem;
    border: 2px solid black;
    border-radius: 6px;
}
.employee-button{
    padding: 0.4rem 0.8rem;
    background-color: rgb(80, 80, 239);
    color: white;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 6px;
}
table{
    border-collapse: collapse;
}
th,td {
    border: 1px solid black;
    padding: 5px;
}
.nav-pagination {
    margin:10px 0 30px 0;
    background-color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    margin: 0;
}

.page-link {
    padding: 0.4rem 0.8rem;
    margin: 0 5px;
    border: 2px solid black;
    color: white;
    font-size: 1.2rem;
    background-color: rgb(80, 80, 239);
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.5s;
}

.page-link:hover {
    background-color: rgba(80, 80, 239, 0.3);
}
.page-of {
    font-size: 1rem;
}
a{
    text-decoration:none;
    color: rgb(80, 80, 239);
}


/* -------------------Personkort styling--------------*/
.person-article{
    height: 81vh;
}
.person-div{
    padding-top: 5rem;
    margin-left: 10%;
    display: flex;
}
.person-img{
    height: 20%;
    width: 20%;
    border-radius: 6px;
}
ul {
    font-size: 1.2rem;
    margin-left: 10%;
    list-style: none;
}
ul li {
    line-height: 1.7rem;
}
ul li span {
    font-weight: 600;
}

.person-form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.person-form-div label {
    font-size: 1rem;
}
.person-form-div input {
    font-size: 1rem;
    padding: 0.4rem;
    border: 2px solid black;
    border-radius: 6px;
}
.person-form-div button{
    padding: 0.4rem 0.8rem;
    background-color: rgb(80, 80, 239);
    color: white;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 6px;
}