{% extends "base.html" %}

{% block title %}Anstallda{% endblock %}

{% block content %}
<article class="employee-article">
    <h1>Anställda</h1>
     
        <form method="get">
            <div class="employee-search">
                <input type="text" name="q" placeholder="Sök efter anställda..." required value="{{q}}">
                <button class="btn employee-button" type="submit">Sök</button>
            </div>
        </form>
<div class="employee-div"> 
        <table>
            <thead>
                <tr>
                    <th>ID 
                        <a href="{{url_for('anstallda', sort_order='asc', sort_column='id', q=q, page=page)}}">
                            <i class="bx bxs-up-arrow"></i>
                        </a>
                        <a href="{{url_for('anstallda', sort_order='desc', sort_column='id',q=q, page=page)}}">
                            <i class="bx bxs-down-arrow"></i>
                        </a>
                    </th>
                    <th>Namn
                        <a href="{{url_for('anstallda', sort_order='asc', sort_column='name', q=q, page=page)}}">
                            <i class="bx bxs-up-arrow"></i>
                        </a>
                        <a href="{{url_for('anstallda', sort_order='desc', sort_column='name',q=q, page=page)}}">
                            <i class="bx bxs-down-arrow"></i>
                        </a>
                    </th>
                    <th>Ålder
                        <a href="{{url_for('anstallda', sort_order='asc', sort_column='age', q=q, page=page)}}">
                            <i class="bx bxs-up-arrow"></i>
                        </a>
                        <a href="{{url_for('anstallda', sort_order='desc', sort_column='age',q=q, page=page)}}">
                            <i class="bx bxs-down-arrow"></i>
                        </a>
                    </th>
                    <th>Telefon
                        <a href="{{url_for('anstallda', sort_order='asc', sort_column='phone', q=q, page=page)}}">
                            <i class="bx bxs-up-arrow"></i>
                        </a>
                        <a href="{{url_for('anstallda', sort_order='desc', sort_column='phone',q=q, page=page)}}">
                            <i class="bx bxs-down-arrow"></i>
                        </a>
                    </th>
                    <th>Land
                        <a href="{{url_for('anstallda', sort_order='asc', sort_column='country', q=q, page=page)}}">
                            <i class="bx bxs-up-arrow"></i>
                        </a>
                        <a href="{{url_for('anstallda', sort_order='desc', sort_column='country',q=q, page=page)}}">
                            <i class="bx bxs-down-arrow"></i>
                        </a>
                    </th>
                    <th>Bild</th>
                </tr>
            </thead>
            <tbody>
                {% for employee,picture in employees %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.age }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.country }}</td>
                    <td>
                        {% if current_user.has_role('Admin') %}
                        <a href="{{ url_for('personkort', person_id=employee.id) }}">
                            <img src="{{ picture.picture }}" alt="Bild anställd"></a>
                        {% else %}
                        <img src="{{ picture.picture }}" alt="Bild anställd"></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
        <nav class="nav-pagination">
            <ul class="pagination">
                {% if nr_pages !=1 %}
                    {% if has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('anstallda', sort_column=sort_column, sort_order=sort_order, q=q, page=page-1)}}">
                            <i class="bx bx-chevrons-left"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link"><i class="bx bx-chevrons-left"></i></box-icon></a>
                    </li>
                    {% endif %}

                    {% for page in pagination.iter_pages(left_edge=0, right_edge=0, left_current=2, right_current=2) %}
                        {% if page %}
                            {% if page != pagination.page %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('anstallda', sort_column=sort_column, sort_order=sort_order, q=q, page=page)}}">{{ page }}</a>
                            </li>
                            {% else %}
                            <li class="page-item active">
                                <a class="page-link active-page"><span>{{ page }}</span></a>
                            </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('anstallda', sort_column=sort_column, sort_order=sort_order, q=q, page=page+1)}}">
                                <i class="bx bx-chevrons-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link"><i class="bx bx-chevrons-right"></i></a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <p class="page-of">Sida {{page}} av {{nr_pages}}</p>
        </nav>

</article>
{% endblock%}