{% extends "base.html" %}

{% block title %}Kontakt{% endblock %}

{% block content %}

<article class="contact-article">
    <h1>Vårt Företag</h1>
    <div class="contact-div">
        <p><span>Besöksadress: </span>Företagsvägen 100</p>
        <p><span>Postadress: </span>100 00 Företagsbyn</p>
        <p><span>Email: </span>foretag@foretag.com</p>
        <p><span>Telefonnummer:</span>1001-100 100</p>

    </div>
    <div class="follow-div">
        <p><span>Följ oss på:</span></p>
        <div class="social-media-icon">
            <a class="contact-a" href="https://instagram.com" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a class="contact-a" href="https://linkedin.com" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
            <a class="contact-a" href="https://facebook.com" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
        </div>
    </div>
</article>
{% endblock%}