<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Vårt företag</title>
</head>
<body>
    <a class="btn first-login" href="{{url_for('login')}}">Logga in</a>
    <div class="welcome-container">
        <div class="welcome-div">
            <p class="welcome-p">Välkommen till</p>
            <h1 class="welcome-h1">Vårt Företag</h1>
            <p class="welcome-p">Företaget där alla vill jobba</p>
        </div>
        <div class="welcome-img">
            <img src="/static/welcome_photo.png" alt="bild på arbete">
        </div>
    </div>
</body>
</html>

