{% from "_macros.html" import render_field_with_errors, render_field, render_field_errors, render_form_errors, prop_next %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Logga in</title>
</head>
<body>
    <article class="login-article">
        <h1>Logga in</h1>
        <div class="login-div">
            <form action="{{ url_for_security('login') }}{{ prop_next() }}" method="post" name="login_user_form">
                <div>
                    {{ login_user_form.hidden_tag() }}
                    {{ render_form_errors(login_user_form) }}
                    {% if "email" in identity_attributes %}{{ render_field_with_errors(login_user_form.email, placeholder='Din email', min_div='email-div', label='Epost') }}{% endif %}
                </div>
                <div>
                    {{ render_field_with_errors(login_user_form.password, min_div='password-div', placeholder='Ditt lösenord', label='Lösenord') }}
                    {{ render_field_errors(login_user_form.csrf_token) }}
                       
                </div>
                {{ render_field(login_user_form.submit, class='btn login-btn', value='Logga in') }}
            </form>
        </div>
    </article>
    <footer>
        <p>Vårt företag <br> Företagsvägen 100 <br>100 00 Företagsbyn
        </p>
    </footer>
</body>
</html>