<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Logga in</title>
</head>
<body>
    <article class="logout-article">
        <h1>Du är utloggad</h1>
        <div class="logout-div">
            <p>Vill du logga in igen?</p>
            <a class="btn login-btn" href="{{ url_for('login')}}">Logga in</a>
        </div>
    </article>
    <footer>
        <p>Vårt företag <br> Företagsvägen 100 <br>100 00 Företagsbyn
        </p>
    </footer>
</body>
</html>